.background-screen {
  z-index: -999;
  background: url(../../images/imagen-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100% ;
}

.header {
  background-color: #4747479d;
  height: 100vh;
  width: 100% ;
}

.barra {
  background-color: #fac767;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
}

.logo-space {
  background-color: #fac767;
  width: 140px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.75);
}

.logo {
  display: block;
  height: 70px;
  margin: 0 auto;
  padding-top: 35px;
}

.home-info {
  color: #f1f1f1;
  text-align: center;
  /* font-size: large; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-info h1{
  font-size: 50px;
}

.home-info p{
  font-size: 20px;
}

@media screen and (max-width: 820px)  {

  .home-info h1{
    font-size: 40px;
  }
  
  .home-info p{
    font-size: 18px;
  }
}

@media screen and (max-width: 735px)  {
  .home-info {
    margin-top: 30px;
    padding-top: 10px;
  }

  .home-info h1{
    font-size: 35px;
  }
  
  .home-info p{
    font-size: 18px;
  }
}

@media screen and (max-width: 555px)  {
  .home-info {
    margin-top: 40px;
    padding-top: 10px;
  }

  .home-info h1{
    font-size: 32px;
  }
  
  .home-info p{
    font-size: 16px;
  }
}

@media screen and (max-width: 450px)  {
  .home-info {
    margin-top: 50px;
    padding-top: 10px;
  }


  .home-info h1{
    font-size: 25px;
  }
  
  .home-info p{
    font-size: 15px;
  }
}

@media screen and (max-width: 350px)  {

  .home-info h1{
    font-size: 20px;
  }
  
  .home-info p{
    font-size: 14px;
  }
}